@model Biblioteca.Data.Entities.Reserva

@{
    ViewData["Title"] = "Detalhes da Reserva";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataExpiracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataExpiracao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativa)
        </dt>
        <dd class="col-sm-10">
            @(Model.Ativa ? "Sim" : "Não")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
